@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');


:root {
    --lightYellow: #FFF4C9;
    --yellow: #FFE26F;
    --black: #3F3F3F;
    --mint: #F1FFFC;
    --green: #479B88;
}

.form-control {
}

    .form-control:focus {
        border: 1px solid var(--Yellow);
    }

/* Center the container */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: var(--lightYellow);
    padding: 0px;
    border-radius: 20px;
    width: 45%;
    margin: 0 auto; /* Centers the container horizontally */
}


/* Style the form fields */
.login-form input {
    display: block; /* Makes the input block-level so it respects width and auto margins */
    width: 400px; /* Specifies the width of the input */
    padding: 10px;
    margin: 0 auto 20px auto; /* Centers the element horizontally and keeps 20px margin at the bottom */
    border: 0px solid #ccc;
    border-radius: 100px;
    font-size: 16px;
}

/* adjust checkbox margin */
.form-check-input {
    margin-top: 4px; 
    margin-right: 5px;
}

.or-divider {
    text-align: center;
    position: relative;
    margin: 20px 0;
}

    .or-divider span {
        background-color: #fff; /* Adjust the background color as needed */
        padding: 0 10px;
        position: relative;
        z-index: 1;
    }

    .or-divider::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        border-top: 1px solid #000; /* Adjust the line color and thickness as needed */
        z-index: 0;
    }





/* Style the Google sign-in button */
.google-sign-in {
    width: 300px;
    padding: 10px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .google-sign-in img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    /* Add hover effects */
    .login-form button:hover,
    .google-sign-in:hover {
        opacity: 0.8;
    }

.shopping-cart {
    width: 80%;
    margin: 2em auto;
    background: white;
    padding: 1em;
}

    .shopping-cart h1 {
        text-align: center;
        color: #333;
    }

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

    .cart-item img {
        width: 50px; /* You should set the size according to your images */
        margin-right: 1em;
    }

.item-name {
    flex-grow: 1;
}

.item-price {
    color: #888;
}

.remove-item {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
}

.cart-subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}

.subtotal-price {
    font-weight: bold;
    color: #333;
}

.checkout-button {
    background: #ffc107;
    color: #fff;
    border: none;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 1em;
}


.pagination {
    display: flex;
}

.page {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 45px;
    margin: -1px;
    background-color: white;
    border: 1px solid black;
    position: relative;
}

    .page:before {
        content: '';
        width: 19px;
        height: 10px;
        background-color: white;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        position: absolute;
        top: -5px;
        left: 10px;
        transform: translateY(-40%);
        z-index: -1;
    }

    .page.active, .page:hover {
        background-color: #FFF4C9;
        color: #000;
        font-weight: bold;
    }

        .page.active:before, .page:hover:before {
            background-color: #FFF4C9;
        }

h1 {
    color: var(--black);
    font-family: 'DM Serif Display', sans-serif;
    font-size: 50px;
}

h2 {
    font-size: 50px;
    color: var(--green);
    font-weight: 700;
}

h3 {
    color: var(--black);
    font-family: 'DM Serif Display', sans-serif;
    font-size: 30px;
}

a {
    color: var(--green); /* Makes the link's color the same as its parent */
}

    a, a:hover {
        color: #357C6C;
    }


.product-row {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.product-card {
    flex: 1; /* Ensures each card has equal width */
    text-align: center; /* Center-aligns the text */
    padding: 20px; /* Adds some padding around the card content */
}

    .product-card img {
        width: 100%; /* Makes the image fully responsive within its container */
        height: auto; /* Maintains the aspect ratio of the image */
        margin-bottom: 15px; /* Adds some space between the image and the title */
    }

    /* Removes borders from images and other elements */
    .product-card, .product-card img {
        border: none;
    }

.button {
    background-color: var(--yellow);
    color: #7A6200;
    border: none;
    padding: 10px 60px; /* Padding inside the button */
    font-size: 16px; /* Font size */
    border-radius: 50px; /* Fully rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    user-select: none; /* Prev ents text selection */
    transition: background-color 0.3s, transform 0.3s; /* Smooth color and transform transition */
    font-weight: 700;
}

    .button:hover {
        background-color: #FFBF00; /* Darker blue background on hover */
    }

    .button:active {
        transform: scale(0.95); /* Slight decrease in size on click */
    }

.ghostButton {
    background-color: white; /* Blue background */
    color: #FFBF00; /* yellow text */
    border: 2px solid var(--yellow); /* Darker blue border */
    padding: 10px 60px; /* Padding inside the button */
    font-size: 16px; /* Font size */
    border-radius: 50px; /* Fully rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    outline: none; /* Removes the outline */
    user-select: none; /* Prevents text selection */
    transition: background-color 0.3s, transform 0.3s; /* Smooth color and transform transition */
    font-weight: 700;
}

    .ghostButton:hover {
        background-color: #FFF2BF; /* light blue background on hover */
    }

    .ghostButton:active {
        transform: scale(0.95); /* Slight decrease in size on click */
    }

.half-break {
    display: block;
    margin-top: 0.75em;
}

.nowrap {
    white-space: nowrap;
}

/* A */
.colorful:nth-child(1) {
    color: #51B59F;
}
/* u */
.colorful:nth-child(2) {
    color: #FFBF00;
}
/* r */
.colorful:nth-child(3) {
    color: #5271FF;
}
/* o */
.colorful:nth-child(4) {
    color: #F06525;
}
/* r */
.colorful:nth-child(5) {
    color: #FFBF00;
}
/* a */
.colorful:nth-child(6) {
    color: #5271FF;
}

.letter {
    display: inline; /* Ensures letters stay in line */
    margin-right: -2px; /* Adjust as needed to control space between letters */
}



.image-button img {
    width: 280px; /* Adjust the width as needed to make the image smaller */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    display: block; /* Ensures the image doesn't have extra space around it */
}

.image-button:hover img {
    transform: translateY(-5px); /* Moves the image up slightly on hover */
    box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.2);
}


a img {
    border: 0px solid transparent; /* No border by default */
    cursor: pointer; /* Change cursor to indicate clickability */
}


.custom-col {
    padding-right: 30px; /* Adjust as needed */
    padding-left: 30px; /* Adjust as needed */
}

.custom-container {
    padding: 30px; /* Increased from Bootstrap's default */
}


.custom-img {
    margin-bottom: 20px; /* Increases bottom margin of the image */
    padding-right: 30px;
}

.custom-heading {
    margin-bottom: 40px; /* Increases space below the heading */
}

.custom-paragraph {
    padding-bottom: 20px; /* Adds more space at the bottom of each paragraph */
}


.image-background {
    position: relative;
    width: 100%; /* Set the width of the container */
    height: 500px; /* Set the height of the container */
    background-image: url('/lib/img/lego.jpeg'); /* Path to your image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
}

.overlay-text {
    position: absolute; /* Position relative to the parent .image-background */
    top: 50%; /* Center vertically */
    left: 30%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to perfectly center */
    font-size: 50px; /* Text size */
    text-align: left; /* Align text */
    font-family: 'DM Serif Display', sans-serif;
}

/* Parallax Background CSS */
.parallax {
    background-image: url("/lib/img/background.jpg");
    height: 60vh; /* Consider adjusting this if you want a different height */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative; /* Ensure this is set to position the text box absolutely within */
}

/* Style the text box */
.text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: var(--mint); /* Make sure --mint is defined in your :root or somewhere in the CSS */
    margin: 40px;
    padding: 60px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 25px;
}


/* Add custom CSS styles for the navbar */
.navbar {
    background-color: var(--lightYellow); /* Set background color to light yellow */
}

.navbar-nav {
    justify-content: flex-end; /* Align items to the right */
}

    .navbar-nav .nav-item {
        margin-left: 10px; /* Add some spacing between nav items */
    }

.navbar-brand {
    color: var(--black); /* Set navbar brand color */
}

.nav-link {
    color: var(--black); /* Set nav links color */
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    font-family: 'Baloo Thambi 2', sans-serif;
    font-size: 16px;
    color: var(--black)
}

/* Footer Styles */
footer {
    background-color: #697AC7;
    color: white;
    padding: 10px 0;
    text-align: center;
}

    footer p, footer a {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        color: white; /* Consistent text color */
        text-decoration: none;
    }

        footer a:hover {
            color: #dcdcdc; /* Link hover color */
            text-decoration: underline; /* Underline on hover */
        }

/* Flexbox Layout for Full Height Content with Footer at the Bottom */
body, html {
    height: 100%; /* Full height for the body and html */
    margin: 0; /* Reset default margin */
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

.content-wrap {
    flex: 1; /* Allows content to expand and push the footer down */
}

/********************************************************************
 * Tables
 *******************************************************************/
table {
    border-collapse: separate;
    border-radius: 5px;
    border-spacing: 0px;
    overflow: hidden;
}

    table:not(.mse-no-border) {
        border: 1px solid #C9C9C9;
    }

    table th:not(:last-child, .mse-no-border), table td:not(:last-child, .mse-no-border) {
        border-right: 1px solid #D1D1D1;
    }

    table tr th {
        vertical-align: middle;
        padding: 0.5rem 1rem;
    }

    table tr td {
        vertical-align: middle;
        padding: 0.5rem 0.7rem;
        min-width: 120px;
    }

    table tr p {
        margin-bottom: 0;
    }

    table thead {
        background-color: #479B88;
        color: #FFF;
    }

    table tbody tr:nth-of-type(2n) {
        background-color: #F4F4F4;
    }

.mse-table-scroll, .mse-table-wrapped-no-header, .mse-table-wrapped {
    max-width: 100%;
    overflow-x: auto;
    display: block;
}

    .mse-table-wrapped-no-header table, .mse-table-wrapped table {
        width: 100%;
    }

@media (max-width: 768px) {
    .mse-table-wrapped-no-header th, .mse-table-wrapped th {
        display: none;
    }

    .mse-table-wrapped-no-header td, .mse-table-wrapped td {
        padding: 2px;
        display: grid;
        grid-template-columns: 16ch auto;
        border-right: none !important;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        overflow: auto;
    }

        .mse-table-wrapped-no-header td:first-child, .mse-table-wrapped td:first-child {
            padding-top: 1rem;
        }

        .mse-table-wrapped-no-header td:last-child, .mse-table-wrapped td:last-child {
            padding-bottom: 1rem;
        }
}