@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IQueryable<string>

<form asp-controller="Home" asp-action="Shop" method="get">
    <div class="form-group">
        <select class="form-control" id="productCategory" name="productCategory" onchange="this.form.submit();">
            <option value="">Select a Category</option>
            @foreach (string pt in Model ?? Enumerable.Empty<string>())
            {
                <option value="@pt">@pt</option>
            }
        </select>
    </div>
</form>

