@{
    ViewData["Title"] = "Cart";
}

<body>

    <div class="shopping-cart">
        <h1>Shopping Cart</h1>

        <div class="cart-item">
            <img src="paris.jpg" alt="Paris">
            <span class="item-name">Paris</span>
            <span class="item-price">$49.99</span>
            <button class="remove-item">X</button>
        </div>

        <div class="cart-item">
            <img src="peacock.jpg" alt="Exotic Peacock">
            <span class="item-name">Exotic Peacock</span>
            <span class="item-price">$20.99</span>
            <button class="remove-item">X</button>
        </div>

        <div class="cart-subtotal">
            <span>Subtotal</span>
            <span class="subtotal-price">$70.98</span>
        </div>

        <a href="/Home/Checkout" class="button">Checkout</a>
    </div>

</body>